# Training data
data/
datasets/
training_data/
train/
*.csv
*.tsv
*.jsonl
*.parquet
*.h5
*.hdf5
*.npz
*.npy
*.txt
!requirements.txt
# Image files
*.png
*.jpg
*.jpeg
*.gif
*.bmp
*.tif
*.tiff
*.webp
*.heic
*.raw
*.dng
my_dataset/val.zip
my_dataset/data.yaml
# JSON files
*.json
# Exception: Track JSON files in .vscode
!.vscode/settings.json
# Screen recordings
recordings/
*.pyc
model/*.onnx

X-AnyLabeling-v4.0.0-beta.2-CPU.exe
